/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
    font-size: 18px;
    line-height: 115%;
    word-spacing: 2px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */
  h1{
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    
  }
  p{
    text-indent: 15px;
    font-family: 'Poppins', sans-serif;
  }

  nav li{
    color: white;
    border: 1px solid pink;
    text-align: center;
    text-decoration:none;
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 15px;


  }

  nav a{
    color: rgb(241, 91, 116);
    text-decoration: none;
  }

  a{
    color: rgb(241, 91, 116);
    font-family: 'Poppins', sans-serif;
  }

  ul, ol{
    font-family: 'Poppins', sans-serif;
  }

  a:hover{
    text-decoration: none;
  }

  a:visited{
    color: blue;
  }

  a:active{
    font-size: 1.25em;
  }

i {
    /* The icon can be a SVG or image file */
    content: url(assets/external-link-52.png);
    font-size: 7px;
}